* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}
#network {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; /* cor de fundo substituída */
    color: #89b4fa;
    border-bottom: 3px;
    border-style: solid;
    border-color: #89b4fa;
}

#pulseaudio {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; /* cor de fundo substituída */
    color: #bd93f9;
    padding: 8px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
}

#pulseaudio.muted {
    color: #f38ba8;
    background: #181825; /* cor de fundo substituída */
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
}

#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; /* cor de fundo substituída */
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
}

#memory {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #181825; /* cor de fundo substituída */
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
}

#cpu {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #181825; /* cor de fundo substituída */
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
}

#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    background: #bd93f9;
    color: #161320;
}
#custom-launcher:hover { 
    background: #89b4fa;
}

#network.disconnected {
    color: #f38ba8;
    background: #181825; /* cor de fundo substituída */
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
}

#custom-power {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; /* cor de fundo substituída */
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
}

#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 17px;
    transition: all;
    background: #181825; /* cor de fundo substituída */
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    color: #bd93f9;
}

#workspaces button {
    color: #bd93f9;
}
