* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}
#network {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#network:hover { 
    color: #181825;
    background: #bd93f9;
}
#language{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#language:hover{
    color: #181825; 
    background: #bd93f9; 
}
#pulseaudio {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    padding: 8px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#pulseaudio:hover{ 
    background: #bd93f9;
    color: #181825;
}
#pulseaudio.muted {
    color: #f38ba8;
    background: #181825; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
    transition: 0.3s;
}
#pulseaudio.muted:hover {
    background: #f38ba8;
    color: #181825; 

}
#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#clock:hover {
    color: #181825; 
    background: #bd93f9;
}
#disk{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#disk:hover{
    color: #181825; 
    background: #bd93f9;
}
#privacy{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#idle_inhibitor{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#idle_inhibitor.activated{
    color: #89b4fa;
    border-color: #89b4fa;
}
#idle_inhibitor.activated:hover{
    background: #89b4fa;
    color: #181825;
    border-color: #89b4fa;
}
#idle_inhibitor.deactivated{
    color: #bd93f9
}
#idle_inhibitor.deactivated:hover{
    color: #181825; 
    background: #bd93f9;
}
#memory {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#memory:hover { 
    color: #181825; 
    background: #bd93f9;

}
#cpu {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#cpu:hover {
    color: #181825; 
    background: #bd93f9;

}
#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #bd93f9;
    background: #181825;
    transition: 0.3s;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
}
#custom-launcher:hover { 
    background: #bd93f9;
    color: #181825;
}
#network.disconnected {
    color: #f38ba8;
    background: #181825; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
}
#network.disconnected:hover {
    background: #f38ba8;
    color: #181825; 
}
#custom-power {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #181825; 
    color: #bd93f9;
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    transition: 0.3s;
}
#custom-power:hover {

    background: #f38ba8;
    color: #181825;
    border-color: #f38ba8;

}
#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    background: #181825; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #bd93f9;
    color: #bd93f9;
    transition: 0.3s;
}
#workspaces button {
    color: #bd93f9;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
}
