/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191724FF;
    background-alt: #232136FF;
    foreground:     #E4CAAF;
    selected:       #E4CAAF;
    active:         #E4CAAF;
    urgent:         #E4CAAF;
}
